// COLORS
main = #113093;
mainHover = rgba(109, 128, 168, 0.42);
hover = darken(main, 50%)
mainLight = #6671aa
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333
colorcode = #556176
blackBase =  #2f2f33
neotree = #2f2f33
// Resolution
cut = 37.5rem
